doctype html
html
   include ./components/_head.pug
   body
      //- header
      include ./components/_header.pug
      //- section-content
      block content
      //- footer
      include ../commons/_footer.pug
